/* index.html */


h1 {
    padding-top: 35%;
    padding-bottom: 0%;
    color: white;
}

h4 {
    color: whitesmoke;
    padding-left: 10%;
    padding-right: 10%;
}
body {
  background-image: url("public/black-lightbulb-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.uk-form-label {
    color: white;
}

h2 {
    padding-top: 10%;
    color: whitesmoke;
}

.uk-panel {
    padding-top: 10%;
    padding-right: 20%;
    padding-left: 10%;
    padding-bottom: 10%;
    color: white;
}

p {
    padding-right: 5%;
    text-align: right;
}

button {
    float: right;
    color: white;
    text-emphasis-color: white;
}

.uk-card {
    padding: 1%;
}

h3 {
    text-align: center;
}

.btn {
    font: black;
}